/*

---------------------------------
|      |       |                |
|   h  |   l   |       c        |
|   e  |   o   |       o        |
|   a  |   g   |       n        |
|   d  |   o   |       t        |
|   e  |       |       e        |
|   r  |       |       n        |
|      |       |       t        |
|      |       |                |
|      |       |                |
---------------------------------
|                               |
|            footer             |
|                               |
---------------------------------

*/

/*
 *
 */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/**
 * Layout
 */
body {
  background-color: #e1dfdd;
  display: flex;
  flex-flow: row wrap;
  /* gap: 1rem; */
}

main {
  width: 65vw;
  flex-grow: 2;
  margin: 0 0 0 -90px;
}

header {
  padding: 3rem;
  /* width: max-content; */
  display: flex;
  flex-direction: column;
}

nav {
  top: 50vh;
  position: sticky;
  align-self: flex-start; /* fix when using flex and sticky together */
}

nav a {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-transform: uppercase;
}



/**
 * classes
 */
 a:not([class]) {
  color: rgb(84, 95, 105);
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 99rem;
  margin: 1rem;
  display: block;
}

.contact a {
  color: black;
  background-color: tomato;
}


footer {
  padding: 100px;
  background-color: rgba(42, 42, 42, 1);
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}



#logo {
  width: 120px;
  height: 120px;
  z-index: 3000;
  mix-blend-mode: difference;
}

#logoholder {
  opacity: 0.9;
  filter: invert(12);
  mix-blend-mode: difference;
  z-index: 1222;

  width: max-content;
  min-height: 100vh;

  display: flex;
  align-self: flex-start;
 
  /* justify-content: center; */
  


  top: 70vh;
  position: -webkit-sticky;
  position: sticky;




}












.shadow {
  /* box-shadow: rgba(98, 81, 81, 0.2) 0px 18px 50px -10px;
  box-shadow: rgba(56, 48, 101, 0.15) 0px 48px 100px 0px; */
}



article {
  display: flex;
  /* flex-direction: column;
	   flex-wrap: nowrap; */
  flex-flow: column wrap;
	align-items: center;
}

/* first three */
article:nth-child(-n + 3) {
  align-items: flex-start;
}

/* odd */
article:nth-child(-2n+1) {
  align-items: flex-start;
}

/* even */
article:nth-child(2n) {
  align-items: flex-end;
}

article:nth-child(4n) {
  align-items: center;
}

/* only */
article:nth-child(7) {
  align-items: flex-end;
}







pre {
  opacity: 0.5;
  padding: 3rem;
  background-color: transparent;
  border-radius: 25px;

  filter: blur(5px); /* Initial blur effect */
  opacity: 0; /* Initial opacity for blur effect */
  transition: all 0.5s ease-in-out;; /* Smooth transition */

  /* Start position outside viewport */
  /*
  transform: translateY(1500px); 
  transition: all 0.5s ease-in-out;
  */
}


.visible pre {
  filter: blur(0px); /* Remove blur effect when in viewport */
  opacity: 1; /* Full opacity when in viewport */

   /* Adjust the Y-translation as needed */
  /*
  transform: translateY(0px);
  */
}
  













img {
  border-radius: 88rem;
  /* box-shadow: rgba(98, 81, 81, 0.2) 0px 18px 50px -10px;
  box-shadow: rgba(56, 48, 101, 0.15) 0px 48px 100px 0px; */
  filter: grayscale(1);
  transition: all .5s ease-in;
}

img:hover {
  opacity: 1;
  filter: grayscale(0);
  transition: all .5s ease-in;
}












/**
 * Utils
 */


img.shadow-1 {
  box-shadow:   1px 12px 1px -12px rgba(0,0,0,.07);
}



img.shadow-2 {
  box-shadow: 10px 40px 90px -20px rgba(208, 12, 90, 0.2);
}



.shadow-3 {
  box-shadow:   30px 30px 48px 22px rgba(0,0,0,.07);
}

.shadow-4 {
  box-shadow:  -41px -51px -68px 50px rgba(0,0,0,.9);
  
}

x:nth-child(4n+1){
  box-shadow:   41px 51px 68px 5px rgba(0,0,0,.06);
}

x {
  box-shadow: 30px 30px 50px -20px rgba(0,0,0,.07)
}






