/*

---------------------------------
|      |       |                |
|   h  |   l   |       c        |
|   e  |   o   |       o        |
|   a  |   g   |       n        |
|   d  |   o   |       t        |
|   e  |       |       e        |
|   r  |       |       n        |
|      |       |       t        |
|      |       |                |
|      |       |                |
---------------------------------
|                               |
|            footer             |
|                               |
---------------------------------

*/

/*
 * variables
 */
:root {
  --main-bg-color: rgba(242, 242, 242, 1);
  --main-gray-color: rgb(229, 229, 229);
  --accent-color: tomato;
}



/*
 *
 */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-feature-settings: "liga1" on;
  font-family: "ヒラギノ角ゴ Pro W3", 
    "Hiragino Kaku Gothic Pro", 
    Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", 
    "MS PGothic", 
    system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}



/**
 * define main elements first
 * Layout and colors
 */
body {
  display: flex;
  flex-flow: row wrap;
  /* align-items: stretch; */ /* default? */
  /* gap: 1rem; */
  background: var(--main-bg-color);
}

header {
  padding: 3rem;
  /* width: max-content; */
  display: flex;
  flex-direction: column;
}

nav {

}

main {
  width: 65vw;
  flex-grow: 2;
  background-color: rgba(240, 248, 255, 0.286);
}

article {

}

section {

}

footer {

}



/**
 * navigation
 */
nav {
  top: 5vh;
  position: sticky;
  align-self: flex-start; /* fix when using flex and sticky together or align-items: stretch */
}

.jap {
  text-transform: uppercase;

  writing-mode: vertical-lr;
  writing-mode: sideways-lr;
  text-orientation: upright;
  text-transform: full-width;
  font-size: 0.75rem;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}



header a {
  color: rgb(84, 95, 105);
  background-color: rgb(255, 255, 255);
  padding: 1.6rem 0.6rem;
  border-radius: 99rem;
  margin: 0.6rem;
  display: inline-block;
  text-decoration: none;
}

.contact a {
  color: black;
  background-color: var(--accent-color);
}



/**
 * footer
 */
 footer {
  padding: 100px;
  background-color: rgba(42, 42, 42, 1);
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  align-self: center;
}





/**
 * classes
 */
a:not([class]) {

}



#logo {
  width: 120px;
  height: 120px;
  z-index: 3000;
  mix-blend-mode: difference;
}

#logoholder {
  opacity: 0.9;
  filter: invert(12);
  mix-blend-mode: difference;
  z-index: 1222;

  width: max-content;
  min-height: 100vh;

  display: flex;
  align-self: flex-start;
 
  /* justify-content: center; */
  


  top: 70vh;
  position: -webkit-sticky;
  position: sticky;


}
















article {
  display: flex;
  /* flex-direction: column;
	   flex-wrap: nowrap; */
  flex-flow: column wrap;
	align-items: stretch;
  border-bottom: 1px dashed white;
}

/* first three */
article:nth-child(-n + 3) {
  align-items: flex-start;
}

/* odd */
article:nth-child(-2n+1) {
  align-items: flex-start;
}

/* even */
article:nth-child(2n) {
  align-items: flex-end;
}

article:nth-child(4n) {
  align-items: center;
}

/* only */
article:nth-child(7) {
  align-items: flex-end;
}







pre {
  opacity: 0.5;
  padding: 3rem;
  background-color: transparent;
  border-radius: 25px;

  filter: blur(5px); /* Initial blur effect */
  opacity: 0; /* Initial opacity for blur effect */
  transition: all 0.5s ease-in-out;; /* Smooth transition */

  /* Start position outside viewport */
  /*
  transform: translateY(1500px); 
  transition: all 0.5s ease-in-out;
  */
}


.visible pre {
  filter: blur(0px); /* Remove blur effect when in viewport */
  opacity: 1; /* Full opacity when in viewport */

   /* Adjust the Y-translation as needed */
  /*
  transform: translateY(0px);
  */
}
  













img {
  border-radius: 88rem;
  /* box-shadow: rgba(98, 81, 81, 0.2) 0px 18px 50px -10px;
  box-shadow: rgba(56, 48, 101, 0.15) 0px 48px 100px 0px; */
  filter: grayscale(1);
  transition: all .5s ease-in;
}

img:hover {
  opacity: 1;
  filter: grayscale(0);
  transition: all .5s ease-in;
}












/**
 * Utils
 */
img {
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}

x:nth-child(4n+1){
  box-shadow:   41px 51px 68px 5px rgba(0,0,0,.06);
}











@media (hover: hover) {
  main {
    
  }
}

@media (hover: none) {
  main {
    background-color: darkkhaki;
  }
}
