
* * *:hover {
    background-image: url('../marching-ants.svg') !important;
    background-color: rgba(255, 99, 71, 0.112);
}

* * *:hover > img {
    opacity: 0.5;
}





/*
*::before {
    position: absolute;
}

*:hover::before {
    content: "asas";
    
}

*/



body {

}

.stage {
    /* background-color: #edede9; */
}

header {

}

main {
    /* background-color: #ccc5b9; */
}

footer {
    /* background-color: #6d6875; */
    height: 600px;
}



.logoholder {
    margin: -2rem;
    border-radius: 0.3rem;
    z-index: 2;
}