* * * {
    transition: all 0.6s 150ms ease-in;
}

* * *:hover {
    background: rgba(255, 99, 71, 0.112) url('../marching-ants.svg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;



/*
    background: rgba(255, 99, 71, 0.112) url('../marching-ants.svg') no-repeat center center;
    background-size: 100% 100%; 
*/

}







/*
*::before {
    position: absolute;
}

*:hover::before {
    content: "asas";
    
}

*/



body {

}

.stage {
    background-color: var(--bg-color-white);
}

header {

}

main {
    
}

footer {
    /* background-color: #6d6875; */
    height: 600px;
}



