/**
 *
 * spacesuit reset
 *
 */
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: inherit;
}



 /**
  * Defaults
  */
 /**
  * Enable smooth scrolling on the whole document
  * and Disable smooth scrolling when users have prefers-reduced-motion enabled
  */
html {
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}



/**
 * utils
 * img / responsive images
 * 1. ensures that the image does not exceed its container's width
 * 2. while maintaining its aspect ratio with
 */
img {
  max-width: 100%; /* 1 */
  height: auto;    /* 2 */
  /* background: no-repeat; */
  /* for lazy loading / the low res pic placeholder */
  /* background-size: cover; */
  /* vertical-align: middle; */
  /* font-style: italic; */
  /* display: block; */
}



 







