/**
 *
 * spacesuit layout
 *
 */



/**
 *
 * variables
 *
 */
:root {
    --space: 1rem;
    --corner: 0.5rem;

    --stage-width: calc( 100vw - 2 * var(--space));

    --main-bg-color: hsl(0, 0%, 96%);
}



/**
 *
 * layout
 *
 */
body {
    display: flex;
    flex-flow: row wrap;
    /* align-items: flex-start; */
    /* align-items: stretch; */
}

/* header | flex child 1 */
header {
    flex: auto;
    /* align-items: flex-start;
    flex-basis: 100px; */
    padding: var(--space);
}

nav {
    background-color: aliceblue;
}

/* flex child 2 */
main {
    flex: 1 1 75%;
}   

/* flex child 3 */
footer {
    flex: 1 100%;
}

/**
 * override for screen size
 */
@media (min-width: 900px) {
    body {
        flex-direction: row;
    }
}


/* stage area */
.stage {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: auto;

    width: var(--stage-width);
    margin: var(--space);
    height: 90vh;
    height: 90dvh;
    border-radius: var(--corner);
}








/**
 *
 * typo
 *
 */

 body {
    font: normal normal 400 1.15rem/1.5 monospace;
    font-family: Consolas, Arial, sans-serif;
    background-color: var(--main-bg-color);
}






